<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
 <% include ./partials/_header %>
</header>

<body>
  <div class="container text-center">
    <div class="jumbotron">

        <% if (userObject === undefined) { %>     <!-- Makes sure the user is logged in -->
        <h3>Please login or register to start Tiny-izing websites!</h3>
        <% }; %>

        <% for (let i in urls) {%>                <!-- Lists the URLs made by the user, if any. -->
          <p style="font-size: 20px;"><%= "localhost:8080/u/" + i + ": " + urls[i].longURL%></p>

          <form method="GET" action="/urls/<%= i %>" style="display:inline-block;">
            <input type="submit" class="btn btn-default" value="Edit" >
          </form>

          <form method="POST" action="/urls/<%= i %>/delete?_method=DELETE" style="display:inline-block;">
            <input type="submit" class="btn btn-default" value="Delete">
          </form>
          <p></p>
        <% }; %>

        <p></p>
      <a href="/urls/new" class="btn btn-default" style="font-size:25px" >Tiny-ize me!</a>
    </div>
  </div>
</body>
</html>