<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>

<header>
 <% include ./partials/_header %>
</header>

<body>
  <div class="container text-center">
    <div class="jumbotron">
      <form method="POST" action="/login">    <!-- Simple form to log in the user -->
        <p>Email:</p>
        <input type="email" name="email" placeholder="user@example.com">
        <p></p>
        <p>Password: </p>
        <input type="password" name="password" placeholder="Password">
        <p></p>
        <input type="submit" class="btn btn-default" style="font-size: 25px" value="Sign In">
      </form>
    </div>
  </div>

</body>
</html>