<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
 <% include ./partials/_header %>
</header>

<body>
  <div class="container text-center">
    <div class="jumbotron">
      <ul>

        <% if (userObject === undefined) { %>
        <h3>Please login or register to start Tiny-izing websites!</h3>
        <% }; %>

        <% for (let i in urls) {%>
          <li><%= i + ": " + urls[i].longURL%></li>
          <form method="GET" action="/urls/<%= i %>">
            <input type="submit" value="Edit">
          </form>
          <form method="POST" action="/urls/<%= i %>/delete">
            <input type="submit" value="Delete">
          </form>
        <% }; %>
      </ul>


      <a href="/urls/new" class="btn btn-default" style="font-size:25px" >Tiny-ize me!</a>
    </div>
  </div>
</body>
</html>