<!DOCTYPE html>
<html lang="en">
  <head></head>
  <header>
    <% include partials/_header %>
  </header>
  <body style="font-size:20px;">
    <div class="container text-center">
      <div class="jumbotron">
        <form action="/urls" method="POST" style="">      <!-- Simple form to create a new tiny URL -->
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>