<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>

<header>
 <% include ./partials/_header %>
</header>

<body>
  <form method="POST" action="/register">
    <input type="email" name="email" placeholder="user@example.com">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
  </form>

</body>
</html>